@import "./../../common.less";


.et-elements {
}


.et-number {

  &.et-number--type-pos {
    color: hsl(117, 46%, 45%);
  }

  &.et-number--type-neg {
    color: hsl(0, 87%, 65%);
  }

  &.et-number--type-info {
    color: hsl(219, 87%, 65%);
  }

}

.et-text {

  &.et-text--type-pos {
    color: hsl(117, 46%, 45%);
  }

  &.et-text--type-neg {
    color: hsl(0, 87%, 65%);
  }

  &.et-text--type-info {
    color: hsl(219, 87%, 65%);
  }

}


.et-tooltip {
  cursor:      help;
  font-weight: bolder;
}


.et-link {
  cursor:                    pointer;
  text-decoration:           underline;
  text-decoration-thickness: 1px;

  /deep/ * {
    text-decoration: underline;
  }
}

.et-color-box {
  height:        0.7rem;
  width:         0.7rem;
  display:       inline-block;
  border-radius: 2px;
  margin-right:  @spacing-xs;
  margin-left:   @spacing-xs;
  box-shadow:    @shadow-object;
}

.et-spacer {

  height: 0;

  &.et-spacer--none {
    margin-right: 0
  }

  &.et-spacer--xs {
    margin-right: @spacing-xs
  }

  &.et-spacer--s {
    margin-right: @spacing-s
  }

  &.et-spacer--m {
    margin-right: @spacing-m
  }

  &.et-spacer--l {
    margin-right: @spacing-l
  }

  &.et-spacer--fill {
    margin: auto
  }

}