.hbox {
  position:       relative;
  display:        flex;
  flex-direction: row;
  gap:            0.5rem;

  &.hbox--fill {
    width:  100%;
    height: 100%;
  }

  &.hbox-vert-center {
    align-items: center;
  }

  &.hbox-vert-top {
    align-items: flex-start;
  }

  &.hbox-vert-bottom {
    align-items: flex-end;
  }

  &.hbox-vert-stretch {
    align-items: stretch;
  }

  &.hbox-hor-center {
    justify-content: center;
  }

  &.hbox-hor-left {
    justify-content: flex-start;
  }

  &.hbox-hor-right {
    justify-content: flex-end;
  }

  &.hbox-vert-space-evenly {
    justify-content: space-between;
  }

  &.hbox-vert-space-evenly {
    justify-content: space-evenly;
  }

  &.hbox-vert-space-around {
    justify-content: space-around;
  }

}