.game-menu-bar {
	width:            100%;
	height:           40px;
	background-color: #9d9d9d;
	display:          flex;
}


.game-menu-bar > .country-color {
	margin:        4px;
	width:         32px;
	height:        32px;
	border-radius: 16px;
}


.game-menu-bar > .category-area {
	display:         flex;
	align-items:     center;
	justify-content: center;
	gap:             4px;
	padding-left:    4px;
	padding-right:   4px;
}


.game-menu-bar > .category-area > * {
	width:            32px;
	height:           32px;
	display:          flex;
	align-items:      center;
	justify-content:  center;
	background-color: #777777;
	cursor:           pointer;
}


.game-menu-bar > .category-area > *:hover {
	background-color: #6e6e6e;
}


.game-menu-bar > .category-area > *:active {
	background-color: #646464;
}


.game-menu-bar > .info-section {
	flex-grow:       1;
	display:         flex;
	align-items:     center;
	justify-content: center;
	padding-left:    4px;
	padding-right:   4px;
	gap:             16px;
}


.game-menu-bar > .info-section > * {
	border:  1px solid #777777;
	padding: 1px 10px;
}


.game-menu-bar > .action-section {
	display:         flex;
	align-items:     center;
	justify-content: center;
	gap:             4px;
	padding-left:    4px;
	padding-right:   4px;
}


.game-menu-bar > .action-section > * {
	height:           32px;
	background-color: #777777;
	cursor:           pointer;
	display:          flex;
	align-items:      center;
	justify-content:  center;
	padding:          0 4px;
}


.game-menu-bar > .action-section > *:hover {
	background-color: #6e6e6e;
}


.game-menu-bar > .action-section > *:active {
	background-color: #646464;
}