@import "../../../../modules/uicomponents/styles/variables.color.less";
@import "../../../../modules/uicomponents/styles/variables.layout.less";
@import "../../../../modules/uicomponents/styles/variables.typography.less";
@import "../../../../modules/uicomponents/styles/variables.resources.less";


.quickinfo {

	position: absolute;
	bottom: @space-s;
	left: @space-s;

	min-width: 200px;
	min-height: 200px;
}