@import "./../../../../components/common.less";

.queue-entry {


	&.queue-entry--command {

		& > .border {
			border-style: dashed;
		}

		.queue-entry__name {
			opacity: 80%;
		}

	}

	.production_queue__progress {
		flex-grow:        1;
		padding-left:     @spacing-m;
		padding-right:    @spacing-m;
		border:           1px solid @color-decorative-gold;
		background-color: rgba(0, 0, 0, 0.4);
	}

}