.window-decorated {
    position: relative;
    width:    100%;
    height:   100%;
}

.window-decorated .window-decorated__close {
    position:         absolute;
    top:              -0px;
    right:            -0px;
    height:           25px;
    width:            25px;
    padding:          0;

    display:          flex;
    justify-content:  center;
    align-items:      center;

    border-color:     hsl(324, 6%, 65%);
    background-color: hsl(324, 36%, 14%);
}

.window-decorated .window-decorated__close:hover {
    background-color: hsl(342, 47%, 18%);
}

.window-decorated .window-decorated__close > * {
    width:  90%;
    height: 90%;
}


.window-decorated .window-decorated__resize-area {
    width:    20px;
    height:   20px;
    position: absolute;
    bottom:   0;
    right:    0;
    cursor:   se-resize;
    /*background-color: rgba(0, 255, 0, 50%);*/
}

.window-decorated__drag-area {
    position: absolute;
    right:    0;
    top:      0;
    left:     0;
    height:   30px;
    cursor:   move;
    /*background-color: rgba(0, 0, 255, 50%);*/
}

.window-decorated .window-decorated__content {
    position:        relative;
    width:           100%;
    height:          100%;
    overflow:        auto;
    scrollbar-width: thin;
    scrollbar-color: var(--inset__content) var(--inset--dark);
}
