@import "./../common.less";

.text-field {
  position:      relative;
  box-sizing:    border-box;
  background:    @gradient-border-primary;
  border-radius: @border-radius-primary;
  box-shadow:    @shadow-object;
  border:        1px solid transparent;

  height:        @height-m;


  &.text-field--disabled {
    background: @gradient-border-primary-disabled;
  }

  &:focus-within {
    background: @gradient-border-primary-focus;
  }

  .text-field__inner {
    position:      relative;
    width:         100%;
    height:        100%;
    box-sizing:    border-box;
    padding:       0.15rem 0.4rem;
    border-radius: @border-radius-primary;
    background:    @gradient-background;
    box-shadow:    inset 0 0 30px @color-background-shadow, inset 0 0 10px rgba(0, 0, 0, 50%);


    input, input:focus, input:active {
      color:            @color-background-content;
      position:         relative;
      width:            100%;
      height:           100%;
      margin:           unset;
      outline:          unset;
      border:           unset;
      box-sizing:       border-box;
      background-color: transparent;
      font-size:        @font-size-m;
      font-family:      @font-type-primary;
      font-weight:      @font-weight-m;
      text-shadow:      @shadow-text;
    }
  }


}