.metal-border {
    --color-border-0: hsl(47, 12%, 80%);
    --color-border-1: hsl(43, 31%, 50%);
    --color-border-2: hsl(39, 75%, 25%);
}

.metal-border {
    position: relative;
}

.metal-border__border-1 {
    box-sizing:     border-box;
    position:       absolute;
    top:            0;
    bottom:         0;
    left:           0;
    right:          0;

    border:         3px groove black;
    pointer-events: none;
}

.metal-border__border-2 {
    box-sizing:     border-box;
    position:       absolute;
    top:            0;
    bottom:         0;
    left:           0;
    right:          0;

    mix-blend-mode:      color-dodge;
    border:              3px solid;
    border-image-slice:  1;
    border-image-source: radial-gradient(circle, var(--color-border-0), var(--color-border-1), var(--color-border-2));
    pointer-events:      none;

}