<configuration>

    <import class="de.ruegnerlukas.strategygame.backend.shared.LogSuppressor"/>
    <import class="ch.qos.logback.core.ConsoleAppender"/>
    <import class="ch.qos.logback.core.FileAppender"/>
    <import class="ch.qos.logback.classic.filter.ThresholdFilter"/>
    <import class="net.logstash.logback.encoder.LogstashEncoder"/>

    <appender name="STDOUT" class="ConsoleAppender">
        <encoder>
            <pattern>
                %cyan(%d{yyyy-MM-dd HH:mm:ss.SSS}) | %highlight(%.-1level) | %green(%-16.16(%X{traceId})) | %gray(%-16.16thread{16}) | %magenta(%-25.25logger{25}) | %m%n
            </pattern>
        </encoder>
        <filter class="LogSuppressor"/>
    </appender>

    <appender name="FILE" class="FileAppender">
        <file>log/strategy-game-backend.log</file>
        <append>true</append>
        <filter class="ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder class="LogstashEncoder">
            <customFields>{"application":"backend"}</customFields>
        </encoder>
        <filter class="LogSuppressor"/>
    </appender>

    <root level="debug">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="io.netty" level="INFO"/>
    <logger name="com.arangodb" level="INFO"/>

</configuration>