<configuration>

    <import class="de.ruegnerlukas.strategygame.backend.common.logging.LogSuppressor"/>
    <import class="ch.qos.logback.core.ConsoleAppender"/>
    <import class="ch.qos.logback.core.FileAppender"/>
    <import class="ch.qos.logback.classic.filter.ThresholdFilter"/>
    <import class="net.logstash.logback.encoder.LogstashEncoder"/>

    <appender name="STDOUT" class="ConsoleAppender">
        <filter class="LogSuppressor"/>
        <if condition='p("LOG_AS_JSON").contains("true")'>
            <then>
                <encoder class="LogstashEncoder">
                    <customFields>{"application":"backend"}</customFields>
                </encoder>
            </then>
            <else>
                <encoder>
                    <pattern>
                        %cyan(%d{yyyy-MM-dd HH:mm:ss.SSS}) | %highlight(%.-1level) | %green(%-16.16(%X{traceId})) | %gray(%-16.16thread{16}) | %magenta(%-25.25logger{25}) | %m%n
                    </pattern>
                </encoder>
            </else>
        </if>
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="io.netty" level="INFO"/>
    <logger name="com.arangodb" level="INFO"/>

</configuration>