@import "./../../../../components/common.less";

.production-entry__name {
	flex-shrink: 1;
	flex-grow:   1;
}

.production-entry__count {
	opacity:     70%;
	flex-shrink: 0;
	flex-grow:   0;
	min-width:   3rem;

	.change-info-text__next:not(svg) {
		opacity: 100%;
	}

}