@import "@modules/uicomponents/styles/variables.color.less";
@import "@modules/uicomponents/styles/variables.layout.less";
@import "@modules/uicomponents/styles/variables.typography.less";

//============================
//  ROOT
//============================

.root {
	display:         flex;
	flex-direction:  column;
	align-items:     stretch;
	justify-content: start;
	gap:             0;
}

//============================
//  CONTROL
//============================

.control {

	cursor:            pointer;
	outline: unset;

	.control__inner {
		width:           100%;
		height:          100%;

		display:         flex;
		flex-direction:  row;
		align-items:     center;
		justify-content: start;
		gap:             @space-3xs;
	}


	//============================
	//  Size
	//============================

	&[data-size="s"] {
		height: @size-s;

		.control__content {
			padding:   0 @space-xs;
			font-size: @font-size-0;
		}

	}

	&, &[data-size="m"] {
		height: @size-m;

		.control__content {
			padding:   0 @space-xs;
			font-size: @font-size-0;
		}

	}

	&[data-size="l"] {
		height: @size-l;

		.control__content {
			padding:   0 @space-xs;
			font-size: @font-size-1;
		}
	}

	//============================
	//  Shape
	//============================

	&, &[data-shape="box"] {
		border-radius: @radius-m;

		.control__inner {
			border-radius: @radius-m;
		}
	}

	&[data-shape="pill"] {
		border-radius: @radius-inf;

		.control__inner {
			border-radius: @radius-inf;
		}
	}

	//============================
	//  State
	//============================

	border:            1px solid transparent;
	background:        @border-strong-gradient;
	background-origin: border-box;
	background-clip:   border-box;
	box-shadow:        @shadow-element-drop;

	&:focus-within {
		box-shadow: @decorative-focus-glow;
	}

	& .control__inner {
		background: @element-fill-neutral-gradient;
		box-shadow: @shadow-element-inset;
	}

	&:has(.selectbox__input:disabled) {
		background: @border-subtle-disabled-gradient;

		.control__inner {
			background: @element-fill-neutral-disabled-gradient;
		}
	}

	.control__content {
		color:       @content-on-dark;
		text-shadow: @shadow-content-on-dark;
		filter:      drop-shadow(@shadow-content-on-dark);
	}

	.chevron {
		fill:   @content-on-dark;
		stroke: @content-on-dark;
	}

	//============================
	//  Content
	//============================

	.control__content {
		width:           100%;
		height:          100%;
		flex-grow:       1;
		flex-shrink:     1;

		display:         flex;
		align-items:     center;
		justify-content: stretch;

		&.control__content--stable {
			display: grid;

			> .control__content__item {
				grid-area: 1/1;
				visibility: visible;
			}

			> .control__content__item--hidden {
				grid-area: 1/1;
				visibility: hidden;
			}
		}
	}

	//============================
	//  Chevron
	//============================

	.chevron {
		height:          70%;
		aspect-ratio:    1/1;
		flex-grow:       0;
		flex-shrink:     0;
		display:         flex;
		align-items:     center;
		justify-content: center;
		padding:         @space-3xs;
		transition:      transform 200ms;
	}

	.chevron--open {
		transform: rotateX(180deg);
	}

}

//============================
//  MENU
//============================


.listContainer {
	display:        flex;
	flex-direction: column;
	z-index:        1000;
}

.list {
	width:               100%;
	min-height:          0;
	max-height:          100%;
	overflow-y:          auto;
	border-radius:       @radius-m;
	box-sizing:          border-box;

	box-shadow:          @shadow-surface-drop;
	background:          @element-fill-neutral-gradient;
	border:              1px solid @border-subtle-color-dark;

	transition-property: opacity;

	&[data-status="open"], &[data-status="close"] {
		transition-duration: 200ms;
	}

	&[data-status="initial"], &[data-status="close"] {
		opacity: 0;
	}

}

//============================
//  ITEM
//============================

.item {
	cursor:  pointer;
	outline: unset;
	padding: @space-xs @space-s;
	color:   @content-on-dark;

	&[data-active] {
		background-color: @element-fill-blue-dark;
	}

}
