.decorated-panel {
    --decorated-panel__color-light: #782027;
    --decorated-panel__color-dark: #251121;
    --decorated-panel__color-drop-shadow: rgba(0, 0, 0, 50%);
}

.decorated-panel {
    position:   relative;
    background: radial-gradient(var(--decorated-panel__color-light) 10%, var(--decorated-panel__color-dark) 80%);
    color:      #ded9d0;
    box-shadow: -10px 10px 20px var(--decorated-panel__color-drop-shadow);
}

.decorated-panel > * {
    position: relative;
}

.decorated-panel__background {
    position:          absolute;
    top:               0;
    left:              0;
    bottom:            0;
    right:             0;

    background-image:  url("/textures/plain_white_paper_prepared.jpg");
    background-size:   100%;
    background-repeat: repeat;
    mix-blend-mode:    multiply;

    pointer-events:    none;
}


.decorated-panel__border {
    position:     absolute;
    top:          3px;
    bottom:       3px;
    left:         3px;
    right:        3px;

    /*
    9-patches-border:
    https://developer.mozilla.org/en-US/docs/Web/CSS/border-image
    */
    border:       solid 30px;
    border-image: url("/textures/border.png") 80 round stretch;
    opacity:      50%;
}