@import "./../common.less";

.spacer {
  position:   relative;
  box-sizing: border-box;

  &.spacer--horizontal {

    &.spacer--xs {
      padding-right: @spacing-xs;
    }

    &.spacer--s {
      padding-right: @spacing-s;
    }

    &.spacer--m {
      padding-right: @spacing-m;
    }

    &.spacer--l {
      padding-right: @spacing-l;
    }

    &.spacer--xl {
      padding-right: @spacing-xl;
    }

    &.spacer--xxl {
      padding-right: @spacing-xxl;
    }

  }

  &.spacer--vertical {

    &.spacer--xs {
      padding-bottom: @spacing-xs;
    }

    &.spacer--s {
      padding-bottom: @spacing-s;
    }

    &.spacer--m {
      padding-bottom: @spacing-m;
    }

    &.spacer--l {
      padding-bottom: @spacing-l;
    }

    &.spacer--xl {
      padding-bottom: @spacing-xl;
    }

    &.spacer--xxl {
      padding-bottom: @spacing-xxl;
    }

  }

}