.panel-decorated {
    --panel-decorated__red-light:    hsl(355, 58%, 30%);
    --panel-decorated__red-dark:     hsl(324, 36%, 15%);
    --panel-decorated__red_content:  hsl(39, 18%, 84%);

    --panel-decorated__blue-light:   hsl(220, 45%, 30%);
    --panel-decorated__blue-dark:    hsl(189, 35%, 15%);
    --panel-decorated__blue_content: hsl(206, 20%, 84%);


    --panel-decorated__drop-shadow:  rgba(0, 0, 0, 50%);
}

.panel-decorated {
    position:   relative;
    box-shadow: -10px 10px 20px var(--panel-decorated__drop-shadow);
}

.panel-decorated--red {
    background: radial-gradient(var(--panel-decorated__red-light) 10%, var(--panel-decorated__red-dark) 80%);
}

.panel-decorated--blue {
    background: radial-gradient(var(--panel-decorated__blue-light) 10%, var(--panel-decorated__blue-dark) 80%);
}

.panel-decorated__background {
    position:          absolute;
    top:               0;
    left:              0;
    bottom:            0;
    right:             0;

    background-image:  url("/textures/plain_white_paper_prepared.jpg");
    background-size:   100%;
    background-repeat: repeat;
    mix-blend-mode:    multiply;

    pointer-events:    none;
}

.panel-decorated__border {
    position:     absolute;
    top:          3px;
    bottom:       3px;
    left:         3px;
    right:        3px;

    /*
    9-patches-border:
    https://developer.mozilla.org/en-US/docs/Web/CSS/border-image
    */
    border:       solid 30px;
    border-image: url("/textures/border.png") 80 round stretch;
    opacity:      60%;
}

.panel-decorated__content {
    position:   relative;
    padding:    30px 40px;
    box-sizing: border-box;
}

.panel-decorated--red .panel-decorated__content {
    color: var(--panel-decorated__red_content)
}

.panel-decorated--blue .panel-decorated__content {
    color: var(--panel-decorated__blue_content)
}