@import "./../../common.less";


.inset-panel {
  position:      relative;
  box-sizing:    border-box;

  border-radius: @border-radius-secondary;
  border:        @border-inset;
  box-shadow:    @shadow-inset-back;

  padding:       @spacing-s;

  &::after {
    content:        "";
    position:       absolute;
    top:            0;
    bottom:         0;
    left:           0;
    right:          0;
    box-shadow:     @shadow-inset-front;
    pointer-events: none;
  }

  &.inset-panel--fill-parent {
    width:  100%;
    height: 100%;
  }

  &.inset-panel--no-padding {
    padding: unset;
  }

}