.menubar {
    position: absolute;
    left:     0;
    right:    0;
    top:      0;
}

.menubar.metal-border__outer,
.menubar > .metal-border__inner {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    border-top:   unset;
    border-left:  unset;
    border-right: unset;
}

.menubar__content {
    height: 22px;
    display: flex;
}

.menubar__content .btn-end-turn {
    flex-shrink: 0;
    margin: 5px;
    height: 40px;
}

.menubar__content .btn-menu {
    flex-shrink: 0;
    margin: 5px;
    height: 40px;
    width: 40px;
}

.menubar__content .btn-menu .gem__inner{
    padding: 0;
}

.menubar__content .menubar__spacer {
    height: 0;
    width: 100%;
}

