.select-wrapper {
	position: relative;
}

.select-field {
	border:  1px solid black;
	height:  30px;
	padding: 5px 10px;
}

.select-menu-bottom, .select-menu-top {
	position:         absolute;
	z-index:          10;
	width:            100%;
	background-color: white;
	border:           1px solid gray;
	box-sizing:       border-box;
}

.select-menu-top {
	top: 0
}

.select-menu-list {
	max-height: 215px;
	box-sizing: border-box;
	overflow-y: auto;
}

.select-item {
	box-sizing: border-box;
	height:     40px;
	border:     1px solid gray;
}
