.create-world {
	display:          flex;
	flex-direction:   column;
	gap:              1em;
	align-items:      center;
	justify-content:  center;
}


.create-world > .error {
	font-weight: bold;
	color:       #940000;
}