* {
  box-sizing: border-box;
  position: relative;
}


.base--full-width {
  width: 100%;
}

.base--full-height {
  height: 100%;
}

.base--full-size {
  width: 100%;
  height: 100%;
}

.base--grow {
  flex-grow: 1;
}

.base--shrink {
  flex-shrink: 1;
}

.base--dont-grow {
  flex-grow: 0;
}

.base--dont-shrink {
  flex-shrink: 0;
}
