@import "../../../../modules/uicomponents/styles/variables.color.less";
@import "../../../../modules/uicomponents/styles/variables.layout.less";
@import "../../../../modules/uicomponents/styles/variables.typography.less";
@import "../../../../modules/uicomponents/styles/variables.resources.less";


.mapmode-panel {
	position: absolute;
	bottom: @space-xs;
	right: @space-xs;
}