.test-window {
    position: relative;
    width:    100%;
    height:   100%;
}

.test-window__content {
    position: absolute;
    top:      30px;
    left:     0;
    right:    0;
    bottom:   0;
}

.test-window__drag-area {
    background-color: #6c4b4b;
    position:         absolute;
    top:              0;
    left:             0;
    right:            0;
    height:           30px;
}

.test-window__resize-area {
    background-color: #4b526c;
    position:         absolute;
    right:            0;
    bottom:           0;
    width:            10px;
    height:           10px;
}