.main-sidebar {
	height:         100%;
	width:          30%;
	min-width:      300px;
	max-width:      500px;
	padding:        8px;
	gap:            8px;
	display:        flex;
	flex-direction: column;
	box-sizing:     border-box;
}



.main-sidebar > .content-area {
	width:            100%;
	background-color: gray;
	display:          flex;
	flex-direction:   column;
	padding:          8px;
	flex-grow: 1;
}


.main-sidebar > .content-area.turn-area {
	flex-grow:   0;
	flex-shrink: 0;
}