@border-image-primary:     url("/borders/border_primary_saturated.png") 120 round stretch;
@border-opacity-primary:   70%;

@border-image-secondary:   url("/borders/border_secondary.png") 345 round stretch;

@image-divider-arm:        url("/borders/divider_arm.png");
@image-divider-center:     url("/borders/divider_center.png");

@background-texture-paper: url("/textures/plain_white_paper.jpg");
@background-texture-stone: url("/textures/non_uniform_concret_wall.jpg");
@background-pattern:       url("/textures/ornament_pattern.jpg");