@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&family=Alegreya:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-type-primary:         "Alegreya", sans-serif;
@font-type-primary-special: "Alegreya SC", sans-serif;

@font-weight-m:             500;
@font-weight-l:             600;

@font-size-s:               14px;
@font-size-m:               16px;
@font-size-l:               18px;
@font-size-xl:              22px;
@font-size-xxl:             42px;

// how to calculate crop
// 1. add border to text element
// 2. modify values until
//      - top edge of border aligns with top edge of normal capital letter
//      - bottom edge of border aligns with baseline
@font-crop-special-top-xxl:            -15px;
@font-crop-special-bottom-xxl:         -14px;
@font-crop-special-top-xl:             -8px;
@font-crop-special-bottom-xl:          -7px;
@font-crop-special-top-l:              -7px;
@font-crop-special-bottom-l:           -6px;
@font-crop-special-top-s:              -5px;
@font-crop-special-bottom-s:           -5px;
@font-crop-primary-top-l:              -7px;
@font-crop-primary-bottom-l:           -6px;