@border_ornament-image:            url("/borders/border_primary_saturated.png") 120 round stretch;
@border-ornament-opacity:          70%;
@border-ornament-width:            35px;

@image-divider-arm:                url("/borders/divider_arm.png");
@image-divider-center:             url("/borders/divider_center.png");

@background-texture-paper:         url("/textures/plain_white_paper.jpg");
@background-texture-paper-size:    460px;
@background-texture-paper-opacity: 60%;

@background-texture-stone:         url("/textures/non_uniform_concret_wall.jpg");
@background-texture-stone-size:    660px;
@background-texture-stone-opacity: 40%;

@background-pattern:               url("/textures/ornament_pattern.jpg");
@background-pattern-size:          60px;