* {
    --content:           hsla(0, 0%, 100%, 95%);
    --content--disabled: hsla(0, 0%, 100%, 65%)
}

* {
    --color__base__gold-0:             hsl(47, 22%, 85%);
    --color__base__gold-1:             hsl(47, 22%, 70%);
    --color__base__gold-2:             hsl(43, 31%, 50%);
    --color__base__gold-2--disabled:   hsl(43, 11%, 50%);
    --color__base__gold-3:             hsl(39, 75%, 25%);
    --color__background__gold-2:       hsla(43, 31%, 50%, 10%);

    --color__base__silver-0:           hsl(47, 0%, 80%);
    --color__base__silver-1:           hsl(47, 0%, 60%);
    --color__base__silver-2:           hsl(43, 0%, 35%);
    --color__base__silver-2--disabled: hsl(43, 0%, 30%);
    --color__base__silver-3:           hsl(39, 0%, 30%);
    --color__background__silver-3:     hsla(43, 0%, 20%, 10%);
}



* {
    --gem__border--dark:               hsl(180, 18%, 16%);
    --gem__border--dark--disabled:     hsla(180, 4%, 16%);
    --gem__border--light:              hsl(160, 21%, 46%);
    --gem__border--light--hover:       hsla(160, 20%, 64%);
    --gem__border--light--active:      hsla(160, 20%, 50%);
    --gem__border--light--disabled:    hsla(160, 5%, 54%);

    --gem__highlight--dark:            hsl(180, 22%, 20%);
    --gem__highlight--dark--disabled:  hsl(180, 7%, 14%);
    --gem__highlight--light:           hsl(159, 46%, 75%);
    --gem__highlight--light--hover:    hsl(159, 56%, 87%);
    --gem__highlight--light--active:   hsl(159, 46%, 75%);
    --gem__highlight--light--disabled: hsl(159, 16%, 70%);

    --gem__base--dark:                 hsl(180, 21%, 15%);
    --gem__base--dark--disabled:       hsl(180, 7%, 12%);
    --gem__base--light:                hsl(159, 42%, 47%);
    --gem__base--light--hover:         hsl(162, 50%, 56%);
    --gem__base--light--active:        hsl(162, 46%, 40%);
    --gem__base--light--disabled:      hsl(159, 8%, 47%);

    --gem__content:                    hsla(0, 0%, 100%, 95%);
    --gem__content--disabled:          hsla(0, 0%, 100%, 80%);
}

* {
    --inset--light:        hsl(329, 32%, 17%);
    --inset--dark:         hsl(307, 32%, 10%);

    --inset--light--hover: hsl(329, 32%, 27%);
    --inset--dark--hover:  hsl(307, 32%, 20%);

    --inset--light--focus: hsl(329, 32%, 10%);
    --inset--dark--focus:  hsl(307, 32%, 6%);

    --inset__content:      hsl(39, 18%, 84%);
}