/*
Font Size Scale
*/
@font-size--2:  12px;
@font-size--1:  14px;
@font-size-0:   16px;
@font-size-1:   18px;
@font-size-2:   20px;
@font-size-3:   24px;
@font-size-4:   28px;
@font-size-5:   32px;
@font-size-6:   36px;
@font-size-7:   40px;
@font-size-8:   44px;

/*
Spacings
*/
@space-3xs:     2px;
@space-2xs:     4px;
@space-xs:      8px;
@space-s:       12px;
@space-m:       16px;
@space-l:       24px;
@space-xl:      32px;
@space-2xl:     48px;
@space-3xl:     64px;

/*
Breakpoints:
*/
@breakpoint-xs: 640px;
@breakpoint-s:  768px;
@breakpoint-m:  1024px;
@breakpoint-l:  1280px;
@breakpoint-xl: 1900px;

/*
UI element sizes
*/
@size-2xs:      20px;
@size-xs:       25px;
@size-s:        40px;
@size-m:        50px;
@size-l:        60px;

/*
Border radius for elements
*/
@radius-s:      4px;
@radius-m:      7px;
@radius-l:      12px;
@radius-xl:     20px;
@radius-inf:    9999px;

/*
Page Content Sizes
*/
@page-content-max-width: 900px;