/*
 * Alegreya (variable)
 */
@font-face {
	font-family: 'Alegreya';
	src: url('/fonts/Alegreya/Alegreya-VariableFont_wght.ttf') format('truetype-variations');
	font-weight: 100 900;
	font-style: normal;
}

@font-face {
	font-family: 'Alegreya';
	src: url('/fonts/Alegreya/Alegreya-Italic-VariableFont_wght.ttf') format('truetype-variations');
	font-weight: 100 900;
	font-style: italic;
}


/*
 * Alegreya SC (small caps, variable)
 */
@font-face {
	font-family: 'Alegreya SC';
	src: url('/fonts/Alegreya_SC/AlegreyaSC-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Alegreya SC';
	src: url('/fonts/Alegreya_SC/AlegreyaSC-Italic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Alegreya SC';
	src: url('/fonts/Alegreya_SC/AlegreyaSC-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Alegreya SC';
	src: url('/fonts/Alegreya_SC/AlegreyaSC-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Alegreya SC';
	src: url('/fonts/Alegreya_SC/AlegreyaSC-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Alegreya SC';
	src: url('/fonts/Alegreya_SC/AlegreyaSC-BoldItalic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'Alegreya SC';
	src: url('/fonts/Alegreya_SC/AlegreyaSC-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Alegreya SC';
	src: url('/fonts/Alegreya_SC/AlegreyaSC-ExtraBoldItalic.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'Alegreya SC';
	src: url('/fonts/Alegreya_SC/AlegreyaSC-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Alegreya SC';
	src: url('/fonts/Alegreya_SC/AlegreyaSC-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}


/*
 * Alegreya Sans
 */
@font-face {
	font-family: 'Alegreya Sans';
	src: url('/fonts/Alegreya_Sans/AlegreyaSans-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Alegreya Sans';
	src: url('/fonts/Alegreya_Sans/AlegreyaSans-ThinItalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Alegreya Sans';
	src: url('/fonts/Alegreya_Sans/AlegreyaSans-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Alegreya Sans';
	src: url('/fonts/Alegreya_Sans/AlegreyaSans-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Alegreya Sans';
	src: url('/fonts/Alegreya_Sans/AlegreyaSans-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Alegreya Sans';
	src: url('/fonts/Alegreya_Sans/AlegreyaSans-Italic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Alegreya Sans';
	src: url('/fonts/Alegreya_Sans/AlegreyaSans-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Alegreya Sans';
	src: url('/fonts/Alegreya_Sans/AlegreyaSans-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Alegreya Sans';
	src: url('/fonts/Alegreya_Sans/AlegreyaSans-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Alegreya Sans';
	src: url('/fonts/Alegreya_Sans/AlegreyaSans-BoldItalic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'Alegreya Sans';
	src: url('/fonts/Alegreya_Sans/AlegreyaSans-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Alegreya Sans';
	src: url('/fonts/Alegreya_Sans/AlegreyaSans-ExtraBoldItalic.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'Alegreya Sans';
	src: url('/fonts/Alegreya_Sans/AlegreyaSans-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Alegreya Sans';
	src: url('/fonts/Alegreya_Sans/AlegreyaSans-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}


/*
 * Alegreya Sans SC (small caps)
 */
@font-face {
	font-family: 'Alegreya Sans SC';
	src: url('/fonts/Alegreya_Sans_SC/AlegreyaSansSC-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Alegreya Sans SC';
	src: url('/fonts/Alegreya_Sans_SC/AlegreyaSansSC-ThinItalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Alegreya Sans SC';
	src: url('/fonts/Alegreya_Sans_SC/AlegreyaSansSC-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Alegreya Sans SC';
	src: url('/fonts/Alegreya_Sans_SC/AlegreyaSansSC-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Alegreya Sans SC';
	src: url('/fonts/Alegreya_Sans_SC/AlegreyaSansSC-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Alegreya Sans SC';
	src: url('/fonts/Alegreya_Sans_SC/AlegreyaSansSC-Italic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Alegreya Sans SC';
	src: url('/fonts/Alegreya_Sans_SC/AlegreyaSansSC-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Alegreya Sans SC';
	src: url('/fonts/Alegreya_Sans_SC/AlegreyaSansSC-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Alegreya Sans SC';
	src: url('/fonts/Alegreya_Sans_SC/AlegreyaSansSC-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Alegreya Sans SC';
	src: url('/fonts/Alegreya_Sans_SC/AlegreyaSansSC-BoldItalic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'Alegreya Sans SC';
	src: url('/fonts/Alegreya_Sans_SC/AlegreyaSansSC-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Alegreya Sans SC';
	src: url('/fonts/Alegreya_Sans_SC/AlegreyaSansSC-ExtraBoldItalic.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'Alegreya Sans SC';
	src: url('/fonts/Alegreya_Sans_SC/AlegreyaSansSC-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Alegreya Sans SC';
	src: url('/fonts/Alegreya_Sans_SC/AlegreyaSansSC-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

/*
Fonts
*/
@font-type-body: "Alegreya";
@font-type-title: "Alegreya SC";
@font-type-body-simple: "Alegreya Sans";
@font-type-title-simple: "Alegreya Sans SC";

/*
Weight Scale
*/
@font-weight-s: 400;
@font-weight-m: 500;
@font-weight-l: 600;

/*
Font Size Scale
*/
@font-size--2:  12px;
@font-size--1:  14px;
@font-size-0:   16px;
@font-size-1:   18px;
@font-size-2:   20px;
@font-size-3:   24px;
@font-size-4:   28px;
@font-size-5:   32px;
@font-size-6:   36px;
@font-size-7:   40px;
@font-size-8:   44px;