@texture-parchment:           url("/images/paper/45_parchment_paper_texture_seamless/texture.png");
@texture-crumpled-paper:      url("/images/paper/36_crumpled_paper_texture_seamless/texture_2.png");
@texture-paper:               url("/images/paper/plain_white_paper/texture.jpg");
@texture-pattern:             url("/images/ornament/texture_2.png");

@edge-mask-simple:            url("/shapes/parchment-edge/simplified.svg");
@edge-mask-detailed:          url("/shapes/parchment-edge/detailed.svg");

@border-image-ornament:       url("/shapes/ornament-border/border_4.png") 480 stretch;
@border-image-ornament-mask:  url("/shapes/ornament-border/border_3.png") 480 stretch;

@border-image-metal-ornament: url("/shapes/metal-ornament-border/texture.png") 90 stretch;
