.bg-panel {
    --color-gray: #1f1f1f;
    --color-red: #2f1411;
    --color-blue: #0e1d2d;
    --color-vignette: rgba(0, 0, 0, 0.8);
}

.bg-panel--gray {
    background-color: var(--color-gray);
}

.bg-panel--red {
    background-color: var(--color-red);
}

.bg-panel--blue {
    background-color: var(--color-blue);
}



.bg-panel, .bg-panel > * {
    position: relative;
}

.bg-panel__overlay {
    position:          absolute;
    top:               0;
    bottom:            0;
    left:              0;
    right:             0;

    background-image:  url("/textures/fine_machine_woven_cloth_prepared.jpg");
    background-size:   60%;
    opacity:           55%;
    background-repeat: repeat;
    mix-blend-mode:    multiply;

    box-shadow: inset 0 0 80px var(--color-vignette);
}