@import "./../../common.less";

.header {
  text-shadow: @shadow-content;
  padding:     unset;
  margin:      unset;
}

h1.header {
  font-size:   @font-size-4;
  font-weight: @font-weight-2;
  font-family: @font-type-primary-2;
}

h2.header {
  font-size:   @font-size-3;
  font-weight: @font-weight-2;
  font-family: @font-type-primary-2;
}

h3.header {
  font-size:   @font-size-1;
  font-weight: @font-weight-2;
  font-family: @font-type-primary-2;
}

h4.header {
  font-size:   @font-size-1;
  font-weight: @font-weight-2;
  font-family: @font-type-primary-1;
}
