@import "./../../common.less";

.header {
  text-shadow: @shadow-content;
  padding:     unset;
  margin:      unset;

  &:not(.header-banner)::after,
  &:not(.header-banner)::before {
    content: '';
    display: block;
    height:  0;
    width:   0;
  }

  &.header--banner {
    position:            relative;

    display:             flex;
    justify-content:     center;
    align-items:         center;

    box-sizing:          border-box;
    padding:             @spacing-xs;

    background:          linear-gradient(90deg, transparent, rgba(0, 0, 0, 30%), transparent);

    border-width:        1px;
    border-style:        solid;
    border-image-slice:  1;
    border-image-source: linear-gradient(90deg, transparent, @color-border-dark, @color-border-light, @color-border-dark, transparent);
    border-left:         unset;
    border-right:        unset;
  }

}


h1.header {
  font-size:   @spacing-xl;
  font-weight: @font-weight-2;
  font-family: @font-type-primary-2;

  &:not(.header-banner)::before {
    margin-bottom: -17px;
  }

  &:not(.header-banner)::after {
    margin-top: -16px;
  }

}

h2.header {
  font-size:   @spacing-l;
  font-weight: @font-weight-2;
  font-family: @font-type-primary-2;

  &:not(.header-banner)::before {
    margin-bottom: -12px;
  }

  &:not(.header-banner)::after {
    margin-top: -11px;
  }

}

h3.header {
  font-size:   @spacing-m;
  font-weight: @font-weight-2;
  font-family: @font-type-primary-2;

  &:not(.header-banner)::before {
    margin-bottom: -5px;
  }

  &:not(.header-banner)::after {
    margin-top: -4px;
  }
}

h4.header {
  font-size:   @spacing-m;
  font-weight: @font-weight-2;
  font-family: @font-type-primary-1;

  &:not(.header-banner)::before {
    margin-bottom: -5px;
  }

  &:not(.header-banner)::after {
    margin-top: -4px;
  }

}
