@import "./../common.less";

.divider {
  position:    relative;
  width:       100%;
  flex-shrink: 0;
}

.divider--line {
  height:        1px;
  margin-bottom: @spacing-xs;
  margin-top:    @spacing-xs;
  background:    linear-gradient(90deg, transparent 0%, @color-decorative-gold 10%, @color-decorative-gold 90%, transparent 100%);
}

.divider--ornament {
  @height-arm:    16px;
  @height-center: 12px;
  @width-center:  100px;
  @width-gap:     3px;

  display:        flex;
  flex-direction: row;
  align-items:    center;
  gap:            @width-gap;

  .divider__arm-left {
    height:           @height-arm;
    flex-grow:        1;
    background-image: @image-divider-arm;
    background-size:  100% 100%;
    opacity:          50%;
  }

  .divider__arm-right {
    height:           @height-arm;
    flex-grow:        1;
    transform:        scaleX(-1);
    background-image: @image-divider-arm;
    background-size:  100% 100%;
    opacity:          50%;

  }

  .divider__center {
    height:           @height-center;
    flex-grow:        0;
    width:            @width-center;
    background-image: @image-divider-center;
    background-size:  100% 100%;
    opacity:          50%;
  }

}
