@import "./../../common.less";


.box {

  &.box--padding-xs {
    padding: @spacing-xs;
  }

  &.box--padding-s {
    padding: @spacing-s;
  }

  &.box--padding-m {
    padding: @spacing-m;
  }

  &.box--padding-l {
    padding: @spacing-l;
  }

  &.box--padding-xl {
    padding: @spacing-xl;
  }

  &.box--padding-xxl {
    padding: @spacing-xxl;
  }

}