.tab-pane__header {
    display: flex;
    justify-content: stretch;
    gap: 3px;
    margin-left: 3px;
    margin-right: 3px;
}

.tab-pane__header > * {
    width: 100%;
}

.tab-pane__header * {
    border-bottom: unset;
    padding-bottom: 0;
}



.tab-pane__content, .tab-pane__content * {
}

