.page-signup {
	width:           100%;
	height:          100%;
	display:         flex;
	align-items:     center;
	justify-content: center;
	gap:             32px;
	flex-direction:  column;
	background-color: #bdbdbd;
}

.page-signup > * {
	padding:          2em;
	background-color: white;
	border-radius:    5px;
	border:           1px solid #5d5d5d;
	filter:           drop-shadow(6px 6px 3px rgba(0, 0, 0, 0.32));
}