.text-field-primary .depression {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding:    0.15rem 0.4rem;
}

.text-field-primary__input,
.text-field-primary__input:active,
.text-field-primary__input:focus {
    position:         relative;
    padding:          unset;
    margin:           unset;
    border:           unset;
    outline:          unset;
    background-color: transparent;
    box-sizing:       border-box;
    font-size:        16px;
}

.text-field-primary__input input::placeholder {
    opacity: 40%;
}

.text-field-primary__input {
    width: 100%;
    height: 100%;
}
