.game-canvas {

	.resource-icon {
		position:        absolute;
		width:           40px;
		height:          40px;
		transform:       translate(-50%, -50%);
		background-size: contain;
	}

	.resource-icon:not(.low-quality) {
		filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
	}

}