@import "./../../../../components/common.less";

.resource-box {

  display:        flex;
  flex-direction: column;
  align-items:    center;
  flex-grow:      0;
  flex-shrink:    0;
  width:          60px;

  .resource-box__icon {
    width:           30px;
    height:          30px;
    background-size: contain;
  }

}


.resource-tooltip-wrapper {
  position: relative;
  z-index: 200;
}