@import "../../../../modules/uicomponents/styles/variables.color.less";
@import "../../../../modules/uicomponents/styles/variables.layout.less";
@import "../../../../modules/uicomponents/styles/variables.typography.less";
@import "../../../../modules/uicomponents/styles/variables.resources.less";


.topbar {
	width: 100%;

	border-width: 0 !important;
	border-bottom-width: 1px !important;
}