.game {
	width:            100vw;
	min-width:        100vw;
	height:           100vh;
	min-height:       100vh;
	background-color: #777f9d;
	position:         relative;
}

.game-container > * {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}