.button-primary {
    padding:          0.1rem 0.5rem;
    display:          flex;
    align-items:      center;
    border:           3px solid #797979;
    background-color: #cecece;
    color:            black;
    border-radius:    2px;
    box-sizing:       border-box;
}

.button-primary--round {
    border-radius: 9999px;
}