@import "./../../common.less";

.button {

  position:      relative;
  height:        @height-m;

  background:    @gradient-border-primary;
  box-shadow:    @shadow-object;

  border-radius: @border-radius;
  border:        1px solid transparent;
  box-sizing:    border-box;

  font-size:     @font-size-m;
  font-family:   @font-type-primary-special;
  font-weight:   @font-weight-m;

  cursor:        pointer;
  user-select:   none;

  @inset-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 30%),
                 inset 0 0 3px rgba(0, 0, 0, 40%),
                 inset 0 0 5px rgba(0, 0, 0, 70%),
                 inset 0 0 7px rgba(0, 0, 0, 80%);


  .button__inner {
    position:        relative;
    width:           100%;
    height:          100%;
    box-sizing:      border-box;
    display:         flex;
    justify-content: center;
    align-items:     center;
    text-shadow:     @shadow-text;
    white-space:     nowrap;
    border-radius:   @border-radius;
    padding:         @spacing-s @spacing-m;
  }

  .button__inner /deep/ svg {
    filter: drop-shadow(@shadow-text);
  }

  // SMALL

  &.button--small {
    height: @height-s;
  }

  // ROUNDED

  &.button--rounded {
    border-radius: 9999px;
    border:        1.5px solid transparent;

    .button__inner {
      border-radius: 9999px;
    }

  }

  // CIRCLE

  &.button--circle {
    border-radius: 9999px;
    border:        1.5px solid transparent;

    .button__inner {
      border-radius:   9999px;
      padding:         @spacing-xs;
      aspect-ratio:    1/1;
      display:         flex;
      justify-content: center;
      align-items:     center;
    }

  }

  // SQUARE

  &.button--square {
    aspect-ratio:    1/1;
    display:         flex;
    justify-content: center;
    align-items:     center;

    .button__inner {
      padding: @spacing-xs;
    }

  }

  // DISABLED

  &.button--disabled {
    background: @gradient-border-primary-disabled;
    cursor:     default;
  }

  // WARN

  &.button--warn {

    &:not(.button--disabled) .button__inner {
      background: @gradient-warn;
      box-shadow: @inset-shadow, inset 0 0 10px 3px @color-warn-light;
      color:      @color-warn-content;

      &:hover {
        background: @gradient-warn-hover;
        box-shadow: @inset-shadow, inset 0 0 10px 3px @color-warn-light-hover;
      }

      &:active {
        background: @gradient-warn-active;
        box-shadow: @inset-shadow, inset 0 0 10px 3px @color-warn-light-active;
      }
    }

    &.button--active .button__inner {
      background: @gradient-warn-active;
      box-shadow: @inset-shadow, inset 0 0 10px 3px @color-warn-light-active;
    }

    &.button--disabled .button__inner {
      background: @gradient-warn-disabled;
      box-shadow: @inset-shadow, inset 0 0 10px 3px @color-warn-light-disabled;
      color:      @color-warn-content-disabled;
    }
  }

  // SUCCESS

  &.button--success {
    &:not(.button--disabled) .button__inner {
      background: @gradient-success;
      box-shadow: @inset-shadow, inset 0 0 10px 3px @color-success-light;
      color:      @color-success-content;

      &:hover {
        background: @gradient-success-hover;
        box-shadow: @inset-shadow, inset 0 0 10px 3px @color-success-light-hover;
      }

      &:active {
        background: @gradient-success-active;
        box-shadow: @inset-shadow, inset 0 0 10px 3px @color-success-light-active;
      }
    }

    &.button--active .button__inner {
      background: @gradient-success-active;
      box-shadow: @inset-shadow, inset 0 0 10px 3px @color-success-light-active;
    }

    &.button--disabled .button__inner {
      background: @gradient-success-disabled;
      box-shadow: @inset-shadow, inset 0 0 10px 3px @color-success-light-disabled;
      color:      @color-success-content-disabled;
    }
  }

  // INFO

  &.button--info {
    &:not(.button--disabled) .button__inner {
      background: @gradient-info;
      box-shadow: @inset-shadow, inset 0 0 10px 3px @color-info-light;
      color:      @color-info-content;

      &:hover {
        background: @gradient-info-hover;
        box-shadow: @inset-shadow, inset 0 0 10px 3px @color-info-light-hover;
      }

      &:active {
        background: @gradient-info-active;
        box-shadow: @inset-shadow, inset 0 0 10px 3px @color-info-light-active;
      }
    }

    &.button--active .button__inner {
      background: @gradient-info-active;
      box-shadow: @inset-shadow, inset 0 0 10px 3px @color-info-light-active;
    }

    &.button--disabled .button__inner {
      background: @gradient-info-disabled;
      box-shadow: @inset-shadow, inset 0 0 10px 3px @color-info-light-disabled;
      color:      @color-info-content-disabled;
    }
  }

}