.adv-button {
	display:          flex;
	padding:          5px;
	cursor:           pointer;
	background-color: #737373;
	border-radius:    5px;
	margin:           5px;
	gap:              7px;
}


.adv-button.disabled {
	cursor: default;
	color:  #494949
}


.adv-button:not(.disabled):hover {
	background-color: #808080;
}


.adv-button:not(.disabled):active {
	background-color: #6b6b6b;
}


.adv-button > .label {
	flex-grow:   1;
	flex-shrink: 0;
	font-weight: bold;
}


.adv-button > .cost {
	flex-shrink:    0;
	display:        flex;
	flex-direction: row;
}


.adv-button > .cost > div {
	margin-right: 4px;
}


.adv-button.disabled > .cost .icon {
	opacity: 75%;
}