.element-inset {
    --element-inset__red-light:        #381d2b;
    --element-inset__red-dark:         #231221;

    --element-inset__red-light--focus: hsl(329, 32%, 10%);
    --element-inset__red-dark--focus:  hsl(307, 32%, 6%);

    --element-inset__red_content:      hsl(39, 18%, 84%);
}

.element-inset {
    position:   relative;
    background: radial-gradient(var(--element-inset__red-light) 10%, var(--element-inset__red-dark) 80%);
    color:      var(--element-inset__red_content);
    padding:    0.3rem 0.5rem;
}

.element-inset:focus-within {
    background: radial-gradient(var(--element-inset__red-light--focus) 10%, var(--element-inset__red-dark--focus) 80%);
}