.socButton__wrapper {
	overflow:    hidden;
	position:    relative;
	width:       max-content;
	box-sizing:  border-box;
	user-select: none;
	cursor:      pointer;
}


.socButton__wrapper:before {
	box-sizing:     border-box;
	content:        "";
	position:       absolute;
	top:            0;
	bottom:         0;
	left:           0;
	right:          0;
	border:         3px groove black;
	pointer-events: none;
}


.socButton__wrapper:after {
	box-sizing:          border-box;

	content:             "";
	position:            absolute;
	top:                 0;
	bottom:              0;
	left:                0;
	right:               0;

	mix-blend-mode:      color-dodge;

	border:              3px solid;
	border-image-slice:  1;
	border-image-source: radial-gradient(circle, hsl(47, 12%, 80%), hsl(43, 31%, 50%), hsl(39, 75%, 25%));
	pointer-events:      none;
}



.socButton__outer {
	--main-color-light:      hsl(159, 42%, 47%);
	--main-color-dark:       hsl(180, 17%, 12%);

	--border-color-light:    hsla(160, 17%, 54%, 0.75);
	--border-color-dark:     hsla(180, 14%, 16%, 0.75);

	--highlight-color-light: hsl(159, 46%, 70%);
	--highlight-color-dark:  hsl(180, 17%, 14%);

	box-sizing:              border-box;

	font-family:             Roboto, sans-serif;
	letter-spacing:          .01em;
	text-transform:          uppercase;
	color:                   #eee;
	text-shadow:             0 0 1px black, 0 0 4px black;

	background:              radial-gradient(at bottom, var(--main-color-light) 0%, var(--main-color-dark) 80%);

	border:                  5px solid;
	border-image-slice:      1;
	border-image-source:     radial-gradient(circle, var(--border-color-light) 20%, var(--border-color-dark) 80%);
	overflow:                hidden;
}



.socButton_inner {
	width:               100%;
	box-sizing:          border-box;
	padding:             .5em 2em;

	border:              1px solid;
	border-image-slice:  1;
	border-image-source: radial-gradient(circle, var(--highlight-color-light) 0%, var(--highlight-color-dark) 100%);

}



.socButton__wrapper:hover .socButton__outer {
	background:          radial-gradient(at bottom, hsl(162, 56%, 56%) 0%, var(--main-color-dark) 100%);
	border-image-source: radial-gradient(circle, hsla(160, 17%, 64%, 0.75) 30%, var(--border-color-dark) 90%);
}


.socButton__wrapper:hover .socButton_inner {
	border-image-source: radial-gradient(circle, hsl(159, 56%, 80%) 0%, var(--highlight-color-dark) 100%);
}



.socButton__wrapper:active .socButton__outer {
	background:          radial-gradient(at bottom, hsl(162, 46%, 36%) 10%, var(--main-color-dark) 80%);
	border-image-source: radial-gradient(circle, hsla(160, 17%, 44%, 0.75) 10%, var(--border-color-dark) 80%);
}


.socButton__wrapper:active .socButton_inner {
	border-image-source: radial-gradient(circle, hsl(159, 56%, 60%) 0%, var(--highlight-color-dark) 100%);
}



.socButton_background {
	position:         absolute;
	top:              0;
	left:             0;
	width:            400%;
	height:           400%;
	background-image: url("../../../../../public/grundge.jpg");
	background-size:  cover;
	mix-blend-mode:   multiply;
	opacity:          80%;
	pointer-events:   none;
}